<?xml version="1.0" encoding="utf-8" ?>

<!-- The ftpconfig mode value specifies the default mode if (-m) is ommitted on the command line -->
<ftpconfig mode="sandbox">
  
  <!-- The mode server specified which server setting are used by this mode -->
  <mode name="sandbox" server="default">
    
    <!-- 
      Act type attribute can be either "send" or "receive". 
      The bin attribute can also specify a binary file to run.
      For send acts the binary is run before sending the files.
      For receive acts the binary is run for each downloaded file, 
      with the downloaded file name as a parameter.
      Each mode may have multiple send and receive acts as required.
    -->
    
    <act type="send">

      <!-- The local directory, relative to the working directory-->
      <dir>out</dir> 
      
      <!-- The type of files to upload, eg *.txt or *.* -->
      <filespec>*.txt</filespec>
      
      <!-- The remote directory on the ftp server -->
      <remotedir>test/in</remotedir>      
      
    </act>
    
    <act type="receive" bin="">
      
      <!-- The local directory, relative to the working directory-->
      <dir>in</dir>
      
      <!-- The type of files to upload, eg *.txt or *.* -->
      <filespec>*.csv</filespec>
      
      <!-- The remote directory on the ftp server -->
      <remotedir>test/out</remotedir>
      
      <!-- Specifies if the remote file should be deleted after receive act -->
      <delete>1</delete>
    
    </act>
    
  </mode> 

  <!-- 
    Server settings are chosen by the Modes server attribute.
    The config can contain multile server configurations eg. live and staging.
  -->  
  <server name="default" >
    
    <!-- The hostname of the service -->
    <HostName>ftp.medatechuk.com</HostName>
    
    <!-- The protocol of the service: Ftp | Sftp | Scp | S3 | Webdav | TLS -->
    <Protocol>ftp</Protocol>
    
    <!-- The transfer method: Ascii | Binary | Automatic -->
    <TransferMode>binary</TransferMode>
    
    <!-- The serviec user -->
    <UserName>username</UserName>
    
    <!-- The service password -->
    <Password>=password</Password>
    
    <!-- The ssh Host fingerprint for SFTP protocol -->
    <SshHostKeyFingerprint></SshHostKeyFingerprint>

    <!-- Specify a port, if not standard
    <Port></Port>-->
    
  </server>

  <!-- The SMTP server details used to nofify admins of errors -->
  <notifyerror smtp="mail.medatechuk.com" from="noreply@medatechuk.com">
    
    <!-- Multiple addresses can be configured -->
    <notify address="support@medatechuk.com"/>
    <notify address="si@medatechuk.com"/>
    
  </notifyerror>

</ftpconfig>

