<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MedatechUK.CLI" version="1.6.0" targetFramework="net461" />
  <package id="MedatechUK.Deserial" version="1.2.0" targetFramework="net461" />
  <package id="MedatechUK.Log" version="1.2.0" targetFramework="net461" />
  <package id="MedatechUK.oData" version="1.9.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="WinSCP" version="5.17.10" targetFramework="net461" />
</packages>