<?xml version="1.0" encoding="utf-8"?>
<!-- 
The oData connection details: 
  oDataHost:    The hostname for Priority
  tabulaini:    The tabula ini file to use
  environment:  The Priority company
  ouser:        Username
  opass:        Password.
-->
<odataConfig 
  oDataHost="https://azus.priority-software.com/azpr1"
  tabulaini="tabpe03d.ini"
  environment="a071219"
  ouser="apiuser"
  opass="123456"
/>