<?xml version="1.0" encoding="utf-8"?>

<!-- 
The makeconfig node specifies the default values for:
  connectionString: The cnnection to the SQL server
  db: The SQL database to USE on connect.

NOTE: The settings can be overridden in the table node.
-->
<makeconfig connectionString="Server=Server\Instance;Trusted_Connection=Yes;" db="wlnd">
  
  <!-- 
  The output node descibes a file to be created. 
  There may be multiple output nodes here, for each file to be created.
  It has the following attributes:
  
    filespec: The name of the file to be created.
    
              The filename is made up of a range of constants:
              dd, wk, MM, yy, yyyy, wk, hh, ss
              
              It can also include the runcount attribute -which is 
              incremented each time the file is created- by using
              N. The runcount is left padded with zeros for each repeated N.              
    
    deliminator: (Optional) Specifies the column deliminator.
                 Defaults to a comma. Use \t for tab.                 
    
    lineend: (optional) Specifies the line ending using standard ASCII
            designations, e.g. "crlf" for carrige return, line feed.
            Defaults to CRLF.
            
    encoding: (optional) specifies the file encoding to use.
              Can be ASCII | Unicode | UTF32 | UTF7 | UTF8 | BigEndianUnicode
              Defaults to ASCII.
              
    runcount: (optional) A run count incremented each time the file is created
              If omitted the attribute will be created with a value of 1, the first
              time it is created. This can be used in naming the file (see: filespec).
  
    format: (optional) A .net format string to add prefix / suffix to fields.
            To get double quoues around your field {0}, use two single quotes 
            like "''{0}''".
            
    -->
  <output filespec="POyy-MM-NNNN.txt" deliminator="," lineend="crlf" encoding="ASCII" runcount="5" format="''{0}''">

    <!-- 
    The table node specifies the SQL object name.
    Optionally it ma include:
      connectionString: The cnnection to the SQL server
      db: The SQL database to USE on connect.
      
    If these are ommited the default value from the makeconfig node is used.   
    -->
    <table name="v3pl_PO">
      
      <!-- 
      The column nodes specify the column name and output line number in the file.
      Optionally a width may be specified to limit the width of the output data.
      Columns as seperated by the output deliminator and formated with the output format.
      Additionally, you can use the -config option of the edimake.exe to query/update the 
      database for the current column list of the table object.
      -->
      <col line="1" name="Supplier_Id" width="15" />
      <col line="2" name="Bookref_Id" />
      
      <!-- 
      The table node may be nested.
      Where a subquery object takes parameters, the table node will use the parent columns as 
      the parameters based on their name. e.g. if the parameter for the subquery is ORD, it will use
      the ORD column of the parent table object to populate that parameter.
      -->
      <table name="v3pl_poi">

        <!-- 
        The column nodes specify the column name and output line number in the file.
        Optionally a width may be specified to limit the width of the output data.
        Columns as seperated by the output deliminator and formated with the output format.
        Additionally, you can use the -config option of the edimake.exe to query/update the 
        database for the current column list of the table object.
        -->        
        <col line="1" name="Qty_Due" width="15" />
        
      </table>
    </table>

  </output>

  <!-- The SMTP server details used to nofify admins of errors -->
  <notifyerror smtp="mail.medatechuk.com" from="noreply@medatechuk.com">

    <!-- Multiple addresses can be configured -->
    <notify address="support@medatechuk.com"/>
    <notify address="si@medatechuk.com"/>

  </notifyerror>
  
</makeconfig>