<makeconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" connectionString="Server=walrus\PRI;Trusted_Connection=Yes;" db="wlnd">
	<output filespec="POyy-MM-NNNN.txt" deliminator="," lineend="crlf" encoding="ASCII" runcount="7" format="''{0}''">
		<table name="v3pl_PO">
			<col line="1" name="ORD" />
			<col line="2" name="Supplier_Id" />
			<col line="3" name="Bookref_Id" />
			<table name="v3pl_poi">
				<col line="1" name="Qty_Due" />
			</table>
		</table>
	</output>
	<notifyerror smtp="mail.medatechuk.com" from="noreply@medatechuk.com">
		<notify address="support@medatechuk.com" />
		<notify address="si@medatechuk.com" />
	</notifyerror>
</makeconfig>