<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="oDataHost" value="https://walrus.ntsa.uk"/>
    <add key="tabulaini" value="tabula.ini"/>
    <add key="ouser" value="apiuser"/>
    <add key="opass" value="123456"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=10.10.10.101\PRI,1433;Trusted_Connection=Yes;" name="priority"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="default.ashx"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Feed">
          <match url="^([0-9a-z_-]+)/(.*).ashx$"/>
          <action type="Rewrite" url="{R:2}.ashx?environment={R:1}"/>
        </rule>        
        <rule name="API Rewrite env and endpoint">
          <match url="^([0-9a-z_-]+)/(.*$)"/>
          <action type="Rewrite" url="default.ashx?environment={R:1}&amp;endpoint={R:2}"/>
        </rule>
        <rule name="API Rewrite - No param">
          <match url="^schema$"/>
          <action type="Rewrite" url="schema.ashx"/>
        </rule>
        <rule name="No param">
          <match url="^$"/>
          <action type="Rewrite" url="404.aspx"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>

  </system.web>
</configuration>