<?xml version="1.0" encoding="utf-8" ?>
<loadconfig>

  <!-- The SMTP server details used to nofify admins of errors -->
  <notifyerror smtp="mail.medatechuk.com" from="noreply@medatechuk.com">

    <!-- Multiple addresses can be configured -->
    <notify address="support@medatechuk.com"/>
    <notify address="si@medatechuk.com"/>

  </notifyerror>

</loadconfig>

